/* Banner - Fundo */
.banner-container {
  background-image: url('./fundos.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;   
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #19018f;
  font-size: 1rem;
}

/* Seção Hero (Home) */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #19018f;
  margin-bottom: 20px;
  font-family: 'Bangers', cursive;
}

.hero-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.enrol-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.admission-open {
  margin-top: 20px;
  background-color: #19018f;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
}

/* Seção Sobre */
.about-section {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
  min-height: 100vh; 
}

.about-section h2 {
  color: #19018f;
  margin-bottom: 20px;
}

.about-section p {
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

/* Seção Serviços */
.services-section {
  padding: 40px;
  text-align: center; /* Centraliza o texto dentro da seção */
  min-height: 100vh; 
  background-color: #f9f9f9; /* Cor de fundo suave */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.services-section h2 {
  color: #19018f;
  margin-bottom: 30px; /* Aumenta o espaço abaixo do título */
  font-size: 2rem; /* Aumenta o tamanho da fonte do título */
}

.services-list {
  list-style: none;
  padding: 0;
  max-width: 900px; /* Limita a largura da lista */
  margin: 0 auto; /* Centraliza a lista na seção */
}

.services-list p {
  text-align: justify; /* Justifica o texto */
  line-height: 1.6; /* Espaçamento entre linhas */
  margin: 20px 0; /* Adiciona margem acima e abaixo dos parágrafos */
  color: #333; /* Cor do texto */
  font-size: 1.1rem; /* Aumenta o tamanho da fonte */
}

.services-list p strong {
  display: block; /* Faz o texto em negrito começar em uma nova linha */
  margin-top: 15px; /* Espaço acima do texto em negrito */
  margin-bottom: 5px; /* Espaço abaixo do texto em negrito */
  font-size: 1.2rem; /* Tamanho da fonte em negrito */
  color: #19018f; /* Cor do texto em negrito */
}


